@import "../variables";

.section-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $main-color;
  color: $white-color;
  text-transform: uppercase;
  transition: $transition-all;
  scroll-snap-align: start;
  height: 100vh;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    & > .desc {
      font-size: $text-small;
      text-transform: none;
    }

    & > .logo {
      & > img {
        width: calc(5vw + 40px);
      }

      font-size: calc(5vw + 35px);
      //   font-family: "monospace";
      font-weight: 600;
      letter-spacing: ".3rem";
      text-align: center;
      display: flex;
    }

    & > .title {
      font-size: $text-medium;
      text-transform: capitalize;
      text-align: center;
      width: 100%;

      .MuiAccordion-region {
        text-align: left;
      }

      .MuiButtonBase-root {
        text-transform: none;
      }

      .MuiCollapse-root {
        text-transform: none;
      }
    }

    & > .trade-btn {
      display: flex;
      margin-top: 40px;
      column-gap: 10px;

      & > a {
        text-transform: capitalize;
        font-weight: 500;
      }

      & > button {
        text-transform: capitalize;
        font-weight: 500;
      }
    }
  }
}

.MuiDialogContent-root {
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .desc {
    text-align: center;
  }
}
